<%#-- copyright
OpenProject Join Project Plugin

Copyright (C) 2019 Darryl Pogue
Copyright (C) 2012 Splendeo Innovación
Copyright (C) 2010 Eric Davis, Little Stream Software

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.

++#%>

<%- if defined?(@project) and current_user.logged? and !current_user.member_of?(@project) and current_user.allowed_to?(:request_to_join, @project) -%>
  <%- case @project.project_subscription -%>
  <%- when 'self-subscribe' -%>
    <%= form_for :join, :url => project_join_path(:project_id => @project.identifier), :method => :post do |f| %>
      <%= button_tag :type => :submit, :class => 'button -alt-highlight -expand' do %>
        <%= op_icon('button--icon icon-add') %>
        <span class="button--text"><%= l(:join_project_text_join_this_project) %></span>
      <% end %>
    <% end %>
  <%- end -%>
<%- end -%>
